.title{
    color: forestgreen;
    margin-top: -70px;
}
.header{
    width: auto;
    height: 100px;
    background-color: #61dafb;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left: -1300px;
}