.main{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 300px;
    padding: 10px;
}
.item{
    padding-bottom: 10px;
    text-decoration: none;
}
.item a.active{
    color: gold;
}
a{
    text-decoration: none;
}